1. Explain with an example each when to use a for loop and a while loop.
-  In case number of itration is known , then we use for loop and when number of itration is unknown , then we use while loop . Example of for loop and while loop are given below:-

In [1]:
# for loop

In [2]:
l = [1,2,3,4,5,6,7,8]

In [3]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [4]:
# While loop

In [6]:
n = int(input("Input number"))
counter = 0
while counter<=n:
    print(counter)
    counter = counter+1

Input number 8

0
1
2
3
4
5
6
7
8

In [7]:
# Question no 2

In [17]:
# Using for loop to sum and product first 10 natural numbers

In [35]:
product = 1
summation = 0
for i in range(1,10):
    summation = i+summation
    product = product*i

print("Summation of first 10 natural numbers ---->", summation)
print("Product of first 10 natural numbers ---->", product)

Summation of first 10 natural numbers ----> 45
Product of first 10 natural numbers ----> 362880

In [30]:
# Using while loop to sum and product first 10 natural numbers

In [40]:
n = int(input())
sum = 0
product = 1
i = 1
while i<=n:
    sum = sum+i
    product = product*i
    i = i+1
print("summation natural number is", sum)
print("product of natural number is ", product)

 10

summation natural number is 55
product of natural number is  3628800

In [41]:
# Question number 3.

In [49]:
a = 4.5
b = 6
c = 10
d = 20

unit = int(input("Enter Monthly Unit Consumed"))

if unit <=100:
    print("Total bill is ", a*unit)
elif unit>100 and unit<=200:
    print("Total bill is ", (unit-100)*b + 100*a)
elif unit>200 and unit<=300:
    print("Total bill is ", (unit-200)*c + 100*a + 100*b )
else:
    print("Total bill is ", (unit-300)*d + 100*a + 100*b + 100*c )

Enter Monthly Unit Consumed 310

Total bill is  2250.0

In [50]:
# Question number 4

In [51]:
l = list(range(1,101))

In [52]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [88]:
l1 = []
for i in l:
    l1.append(i**3)
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [89]:
# using while loop

In [90]:
cube = 1
counter = 1
while counter<=100:
    result = cube*cube*cube
    print(result)
    cube = cube+1
    counter = counter+1

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [91]:
# Question no 5

In [106]:
example = "I want to become a data scientist"


count = 0


for i in range(len(example)):
    if (
        (example[i] == "a")
        or (example[i] == "e")
        or (example[i] == "i")
        or (example[i] == "o")
        or (example[i] == "u")
    ):
        count += 1

print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  11

In [107]:
range(len(example))

range(0, 33)